{% extends "webhooks/base.html" %}

{% block css %}
    <link rel="stylesheet" href="//yandex.st/highlightjs/7.3/styles/solarized_dark.min.css" media="screen"
          type="text/css"/>
{% endblock %}

{% block content_left %}
    <div class="jumbotron">
        <h2>Help here, get ya' help here!</h2>

        <p>
            Webhookr is meant to be able to get live feedback of HTTP requests. If someone or something sends a request
            to a Webhookr you have open, then you'll hear and see about it.
        </p>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Try It</h3>
        </div>

        <div class="panel-body">
            <ul>
                <li>
                    Open <a href="/{{ webhook_id }}" target="_blank">http://webhookr.com/{{ webhook_id }}</a>
                    in your browser to watch the webhook.
                </li>
                <li>
                    Then open another browser window with
                    <a href="/{{ webhook_id }}?data1=test&amp;data2=test2" target="_blank">http://webhookr.com/{{ webhook_id }}?data1=test&amp;data2=test2</a>
                </li>

            </ul>
            <p>
                <strong>OR</strong>
            <ul>
                <li>Use CURL to send the request</li>
            </ul>
          <pre>
            <code class="prettyprint">
                curl http://webhookr.com/{{ webhook_id }} -d "data1=something" -d ""
            </code>
          </pre>
            </p>

            <p>
                You will see the request displayed on the first page you opened the moment it comes in, accompanied by a
                sound effect.
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sub-paths</h3>
        </div>

        <div class="panel-body">
            <p>
                Webhookr support arbitrary sub-paths, so if you have multiple requests coming to one webhook, you can
                differentiate between them.
                Just add <em>/whatever/whatever/</em> to the end of the webhookr URL and when the request comes in,
                you'll see the path in the
                request title, to the right.
            </p>
            <br/>

            <h4>Example</h4>
            <ul>
                <li>Open <a href="/{{ webhook_id }}" target="_blank">http://webhookr.com/{{ webhook_id }}</a>
                    in your browser to watch it
                </li>
                <li>Open another browser window with
                    <a href="/{{ webhook_id }}/callbacks/first/?data1=test&amp;data2=test2"
                       target="_blank">http://webhookr.com/{{ webhook_id }}<strong>/callbacks/first/</strong>?data1=test</a>
                    to see the data shown in the first window.
                </li>

                <li>
                    Then you can do a second callback to see the difference between paths:
                    <a href="/{{ webhook_id }}/callbacks/second/?data1=test&amp;data2=test2"
                       target="_blank">http://webhookr.com/{{ webhook_id }}<strong>/callbacks/second/</strong>?data1=test</a>
                    to see the data shown in the first window.
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sound Effects</h3>
        </div>

        <div class="panel-body">
            <p>
                The sound effect for each callback is customizable. Just make the first part of the sub-path the name of
                the sound.
            </p>
            <br/>

            <h4>Example</h4>
            <ul>
                <li>Open <a href="/{{ webhook_id }}" target="_blank">http://webhookr.com/{{ webhook_id }}</a>
                    in your browser to watch it
                </li>
                <li>Open another browser window with
                    <a href="/{{ webhook_id }}/loud/?data1=test" target="_blank">http://webhookr.com/{{ webhook_id }}
                        <strong>/loud</strong>/?data1=test</a>
                    to see the data shown in the first window and hear the first sound.
                </li>
                <li>Open another browser window with
                    <a href="/{{ webhook_id }}/error/subpath/?data1=test" target="_blank">http://webhookr.com/{{ webhook_id }}
                        <strong>/error</strong>/subpath/?data1=test</a>
                    to see the data shown in the first window with a different sound and sub-path.
                </li>
            </ul>

            <h4>Supported Sounds</h4>
            <ul>
                {% for sound in supported_sounds %}
                <li>{{ sound }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>

{% endblock %}



