{% extends "webhooks/base.html" %}

{% block css %}
<link rel="stylesheet" href="//yandex.st/highlightjs/7.3/styles/solarized_dark.min.css" media="screen" type="text/css" />
{% endblock %}



{% block content_left %}

<div id="request-container" ng-controller="RequestListCtrl">
  <audio id="audio-event" src="{{ url_for('static', filename='audio/LaserFire.wav') }}" preload="auto"></audio>
  <div class="page-header">
    <h1>Live HTTP Requests to this URL</h1>
    <a href="{{ full_path }}">{{ full_path }}</a> <span class="badge">{{ '{{' }}requests.length{{ '}}' }}</span>
  </div>

  <div class="request-list">

    <div class="request" ng-show="!requests.length">
      <span class="no-requests lead">
        <p class="text-danger">
        <strong>No requests yet! </strong>
        </p>
        <p>
        <span class="btn btn-default">POST</span> or <span class="btn btn-default">GET</span> with params to <a href="{{ full_path }}">{{ full_path }}</a> to have them show up here, live. No need to refresh.
        </p>
        <p>
          As an example, open <a href="?param=foo&amp;param2=bar" target="_blank">this link</a> in a new tab and see the <span class="btn btn-default">GET</span> data show up below.

        </p>
      </span>
    </div>







{% raw %}


    <div class="request panel panel-default" ng-repeat="request in requests" ng-animate="'new-request'">

      <div class="panel-heading">
        <div class="date panel-title pull-left">
          <span class="btn btn-success">{{request.method}}</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong class="time-elapsed">
            <span time-since="{{request.date}}"></span> ago
          </strong>
            <span class="date-text">@ {{request.date.toLocaleString()}}</span>
        </div>
        <span class="pull-right">
            <em>{{request.path}}</em>
            <button class="btn btn-danger glyphicon glyphicon-remove-circle" ng-click="removeRequest($index)"> </button>
        </span>

        <div class="clearfix"></div>
      </div>


      <div class="panel-body">

        <!-- Headers -->
        <div>
          <div class="method headers glyphicon glyphicon-list">
            Headers
            <input type="checkbox" ng-model="request.hasHeaders">
          </div>
          <snippet class="toggle-{{request.hasHeaders}}">
{{request.headers}}
          </snippet>
        </div>

        <!-- GET -->
        <div ng-show="{{request.hasGet}}">
          <div class="method get glyphicon glyphicon-cloud-download">
            GET
            <input type="checkbox" ng-model="request.hasGet">
          </div>
          <snippet class="toggle-{{request.hasGet}}">
{{request.get}}
          </snippet>
        </div>

        <!-- POST -->
        <div ng-show="{{request.hasPost}}">
          <div class="method post glyphicon glyphicon-cloud-upload">
            POST
            <input type="checkbox" ng-model="request.hasPost">
          </div>
          <snippet class="toggle-{{request.hasPost}}">
{{request.post}}
          </snippet>
        </div>

        <!-- Files -->
        <div ng-show="{{request.hasFiles}}">
          <div class="method post glyphicon glyphicon-paperclip">
            Files
            <input type="checkbox" ng-model="request.hasFiles">
          </div>
          <snippet class="toggle-{{request.hasFiles}}">
{{request.files}}
          </snippet>
        </div>

      </div>
    </div>



{% endraw %}


  </div>

</div>
  
{% endblock %}