{% extends "webhooks/base.html" %}

{% block "content-left" %}
  <div class="jumbotron">
    <h1>What is Webhookr?</h1>
    
    <p>
    Quickly test webhook callbacks. Start a <a href="{% url 'new' %}">new Webhookr</a> and begin receiving seeing HTTP requests right here in your browser. Data is not retained, so refreshing will clear out a Webhookr.
    </p>

    <p>
        Webhookrs are completely ephemeral and your history is only stored in your cookies.
    </p>
  </div>
    
{% endblock %}



