{% extends "webhooks/base.html" %}

{% load static %}


{% block "css" %}
<link rel="stylesheet" href="//yandex.st/highlightjs/7.3/styles/solarized_dark.min.css" media="screen" type="text/css" />
{% endblock %}



{% block "content-left" %}

<div id="request-container" ng-controller="RequestListCtrl">
  <audio id="audio-event" src="{% static "audio/LaserFire.wav" %}" preload="auto"></audio>
  <div class="page-header">
    <h1>Live HTTP Requests to this URL</h1>
    <a href="{{ full_path }}">{{ full_path }}</a> <span class="badge">{% templatetag openvariable %}requests.length{% templatetag closevariable %}</span>
  </div>

  <div class="request-list">

    <div class="request" ng-show="!requests.length">
      <span class="no-requests lead">
        <p class="text-danger">
        <strong>No requests yet! </strong>
        </p>
        <p>
        <span class="btn btn-default">POST</span> or <span class="btn btn-default">GET</span> with params to <a href="{{ full_path }}">{{ full_path }}</a> to have them show up here, live. No need to refresh.
        </p>
        <p>
          As an example, open <a href="?param=foo&amp;param2=bar" target="_blank">this link</a> in a new tab and see the <span class="btn btn-default">GET</span> data show up below.

        </p>
      </span>
    </div>










    <div class="request panel panel-default" ng-repeat="request in requests" ng-animate="'new-request'">

      <div class="panel-heading">
        <div class="date panel-title">
          <strong class="time-elapsed">
            <span time-since="{% templatetag openvariable %}request.date{% templatetag closevariable %}"></span> ago
          </strong>
          <span class="date-text">@ {% templatetag openvariable %}request.date.toLocaleString(){% templatetag closevariable %}</span>
        </div>
      </div>


      <div class="panel-body">

        <div>
          <div class="method info glyphicon glyphicon glyphicon-wrench">
            Info 
            <input type="checkbox" ng-model="request.hasInfo">
          </div>
          <snippet class="toggle-{% templatetag openvariable %}request.hasInfo{% templatetag closevariable %}">
  Method: {% templatetag openvariable %}request.method{% templatetag closevariable %}
  Content-Type: {% templatetag openvariable %}request.type{% templatetag closevariable %}
  Host: {% templatetag openvariable %}request.host{% templatetag closevariable %}
  IP Address: {% templatetag openvariable %}request.ip{% templatetag closevariable %}
  Content-Length: {% templatetag openvariable %}request.length{% templatetag closevariable %}
          </snippet>
        </div>

        <div>
          <div class="method headers glyphicon glyphicon-list">
            Headers
            <input type="checkbox" ng-model="request.hasHeaders">
          </div>
          <snippet class="toggle-{% templatetag openvariable %}request.hasHeaders{% templatetag closevariable %}">
{% templatetag openvariable %}request.headers{% templatetag closevariable %}
          </snippet>
        </div>
        
        <div>
          <div class="method get glyphicon glyphicon-cloud-download">
            GET
            <input type="checkbox" ng-model="request.hasGet">
          </div>
          <snippet class="toggle-{% templatetag openvariable %}request.hasGet{% templatetag closevariable %}">
{% templatetag openvariable %}request.get{% templatetag closevariable %}
          </snippet>
        </div>

        <div>
          <div class="method post glyphicon glyphicon-cloud-upload">
            POST
            <input type="checkbox" ng-model="request.hasPost">
          </div>
          <snippet class="toggle-{% templatetag openvariable %}request.hasPost{% templatetag closevariable %}">
{% templatetag openvariable %}request.post{% templatetag closevariable %}
          </snippet>
        </div>

      </div>
    </div>



  </div>

</div>
  
{% endblock %}